dms/HSCI-6.0-Draft/Publish/AssociatedSpecifications/ITKBusinessAcknowledgement/Schemas/wsdl/CoreServices-v1-0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--*****************************************************************************************************************
* 
* 	Copyright (c) 2010 NHS Connecting For Health. All rights reserved.
*   
*  	Redistribution and use in source and binary forms, with or without
*  	modification, are permitted provided that the following conditions
*  	are met:
*  		1. Redistributions of source code must retain the above copyright
*     		notice, this list of conditions and the following disclaimer.
*  		2. Redistributions in binary form must reproduce the above copyright
*     		notice, this list of conditions and the following disclaimer in the
*     		documentation and/or other materials provided with the distribution.
*  		3. All advertising materials mentioning features or use of this software
*     		must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  	THIS SOFTWARE IS PROVIDED BY NHS Connecting For Health. AND CONTRIBUTORS "AS IS" AND
*  	ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  	IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  	ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  	FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  	DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  	OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  	HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  	LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  	OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  	SUCH DAMAGE.
*
* CHANGE HISTORY:
*
* VERSION   DATE            AUTHOR                                 DESCRIPTION
* =======   ========== ======================    ===========================================================
* 1.0            05-04-2011   Interoperability Team               Created this WSDL
*
********************************************************************************************************************
-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:itk="urn:nhs-itk:ns:201005" xmlns:hl7v3="urn:hl7-org:v3" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns="xhtml:NPfIT:PresentationText" name="test" targetNamespace="urn:nhs-itk:ns:201005">
	<wsdl:types>
		<xsd:schema targetNamespace="urn:nhs-itk:ns:201005" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:include schemaLocation="../ITKMessageTypes-2010-05.xsd"/>
			<xsd:include schemaLocation="../distributionEnvelope-v2-0.xsd"/>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="SendCDADocument-v2-0">
		<wsdl:part name="SendCDADocument-v2-0" element="itk:DistributionEnvelope"/>
	</wsdl:message>
	<wsdl:message name="SendDocument-v1-0">
		<wsdl:part name="SendDocument-v1-0" element="itk:DistributionEnvelope"/>
	</wsdl:message>
	<wsdl:message name="BroadcastDocument-v1-0">
		<wsdl:part name="BroadcastDocument-v1-0" element="itk:DistributionEnvelope"/>
	</wsdl:message>
		<wsdl:message name="SendInfrastructureAck-v1-0">
		<wsdl:part name="SendInfrastructureAck-v1-0" element="itk:DistributionEnvelope"/>
	</wsdl:message>
	<wsdl:message name="SendBusinessAck-v1-0">
		<wsdl:part name="SendBusinessAck-v1-0" element="itk:DistributionEnvelope"/>
	</wsdl:message>
	<wsdl:message name="acknowledgementResponse">
		<wsdl:part name="acknowledgementResponse" element="itk:SimpleMessageResponse"/>
	</wsdl:message>
	<wsdl:message name="faultResponse">
		<wsdl:part name="faultResponse" element="itk:ToolkitErrorInfo"/>
	</wsdl:message>
	
	<wsdl:portType name="SendCDADocument-v2-0_ptt">
		<wsdl:operation name="SendCDADocument-v2-0">
			<wsdl:input message="itk:SendCDADocument-v2-0"/>
			<wsdl:output message="itk:acknowledgementResponse"/>
			<wsdl:fault message="itk:faultResponse" name="standardFault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="SendDocument-v1-0_ptt">
		<wsdl:operation name="SendDocument-v1-0">
			<wsdl:input message="itk:SendDocument-v1-0"/>
			<wsdl:output message="itk:acknowledgementResponse"/>
			<wsdl:fault message="itk:faultResponse" name="standardFault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="BroadcastDocument-v1-0_ptt">
		<wsdl:operation name="BroadcastDocument-v1-0">
			<wsdl:input message="itk:BroadcastDocument-v1-0"/>
			<wsdl:output message="itk:acknowledgementResponse"/>
			<wsdl:fault message="itk:faultResponse" name="standardFault"/>
		</wsdl:operation>
	</wsdl:portType>
		<wsdl:portType name="SendInfrastructureAck-v1-0_ptt">
		<wsdl:operation name="SendInfrastructureAck-v1-0">
			<wsdl:input message="itk:SendInfrastructureAck-v1-0"/>
			<wsdl:output message="itk:acknowledgementResponse"/>
			<wsdl:fault message="itk:faultResponse" name="standardFault"/>
		</wsdl:operation>
	</wsdl:portType>
			<wsdl:portType name="SendBusinessAck-v1-0_ptt">
		<wsdl:operation name="SendBusinessAck-v1-0">
			<wsdl:input message="itk:SendBusinessAck-v1-0"/>
			<wsdl:output message="itk:acknowledgementResponse"/>
			<wsdl:fault message="itk:faultResponse" name="standardFault"/>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="SendCDADocument-v2-0_pttBinding" type="itk:SendCDADocument-v2-0_ptt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="SendCDADocument-v2-0">
			<soap:operation soapAction="urn:nhs-itk:services:201005:SendCDADocument-v2-0" style="document"/>
			<wsdl:input>
				<soap:body parts="SendCDADocument-v2-0" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="acknowledgementResponse"/>
			</wsdl:output>
			<wsdl:fault name="standardFault">
				<soap:fault use="literal" name="standardFault"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="SendDocument-v1-0_pttBinding" type="itk:SendDocument-v1-0_ptt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="SendDocument-v1-0">
			<soap:operation soapAction="urn:nhs-itk:services:201005:SendDocument-v1-0" style="document"/>
			<wsdl:input>
				<soap:body parts="SendDocument-v1-0" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="acknowledgementResponse"/>
			</wsdl:output>
			<wsdl:fault name="standardFault">
				<soap:fault use="literal" name="standardFault"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="BroadcastDocument-v1-0_pttBinding" type="itk:BroadcastDocument-v1-0_ptt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="BroadcastDocument-v1-0">
			<soap:operation soapAction="urn:nhs-itk:services:201005:BroadcastDocument-v1-0" style="document"/>
			<wsdl:input>
				<soap:body parts="BroadcastDocument-v1-0" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="acknowledgementResponse"/>
			</wsdl:output>
			<wsdl:fault name="standardFault">
				<soap:fault use="literal" name="standardFault"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="SendInfrastructureAck-v1-0_pttBinding" type="itk:SendInfrastructureAck-v1-0_ptt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="SendInfrastructureAck-v1-0">
			<soap:operation soapAction="urn:nhs-itk:services:201005:SendInfrastructureAck-v1-0" style="document"/>
			<wsdl:input>
				<soap:body parts="SendInfrastructureAck-v1-0" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="acknowledgementResponse"/>
			</wsdl:output>
			<wsdl:fault name="standardFault">
				<soap:fault use="literal" name="standardFault"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>	
		<wsdl:binding name="SendBusinessAck-v1-0_pttBinding" type="itk:SendBusinessAck-v1-0_ptt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="SendBusinessAck-v1-0">
			<soap:operation soapAction="urn:nhs-itk:services:201005:SendBusinessAck-v1-0" style="document"/>
			<wsdl:input>
				<soap:body parts="SendBusinessAck-v1-0" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="acknowledgementResponse"/>
			</wsdl:output>
			<wsdl:fault name="standardFault">
				<soap:fault use="literal" name="standardFault"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>	
		
	<wsdl:service name="SendCDADocument-v2-0">
		<wsdl:port name="SendCDADocument-v2-0_pttPort" binding="itk:SendCDADocument-v2-0_pttBinding">
			<soap:address location="http://server:80/interoperability.toolkit/HL7v3/SendCDADocument-v2-0"/>
		</wsdl:port>
	</wsdl:service>
	<wsdl:service name="SendDocument-v1-0">
		<wsdl:port name="SendDocument-v1-0_pttPort" binding="itk:SendDocument-v1-0_pttBinding">
			<soap:address location="http://server:80/interoperability.toolkit/HL7v3/SendDocument-v1-0"/>
		</wsdl:port>
	</wsdl:service>
	<wsdl:service name="BroadcastDocument-v1-0">
		<wsdl:port name="BroadcastDocument-v1-0_pttPort" binding="itk:BroadcastDocument-v1-0_pttBinding">
			<soap:address location="http://server:80/interoperability.toolkit/HL7v3/BroadcastDocument-v1-0"/>
		</wsdl:port>
	</wsdl:service>
	<wsdl:service name="SendInfrastructureAck-v1-0">
		<wsdl:port name="SendInfrastructureAck-v1-0_pttPort" binding="itk:SendInfrastructureAck-v1-0_pttBinding">
			<soap:address location="http://server:80/interoperability.toolkit/HL7v3/SendInfrastructureAck-v1-0"/>
		</wsdl:port>
	</wsdl:service>
	<wsdl:service name="SendBusinessAck-v1-0">
		<wsdl:port name="SendBusinessAck-v1-0_pttPort" binding="itk:SendBusinessAck-v1-0_pttBinding">
			<soap:address location="http://server:80/interoperability.toolkit/HL7v3/SendBusinessAck-v1-0"/>
		</wsdl:port>
	</wsdl:service>	
</wsdl:definitions>