fhir/sh/StructuredHeadings-1-0-RC2/Schemas/COCD_TP146060GB02.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:npfitlc="NPFIT:HL7:Localisation"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* 		XML schema for message type : COCD_TP146060GB02.
* 
*		Source information:
*		Generated by Publisher version : 
*    	Created on: 
*   
* 		Copyright (c) 2009,2010,2011,2012 Health Level Seven. All rights reserved.
*  	Redistribution and use in source and binary forms, with or without
*  	modification, are permitted provided that the following conditions
*  	are met:
*  		1. Redistributions of source code must retain the above copyright
*     		notice, this list of conditions and the following disclaimer.
*  		2. Redistributions in binary form must reproduce the above copyright
*     		notice, this list of conditions and the following disclaimer in the
*     		documentation and/or other materials provided with the distribution.
*  		3. All advertising materials mentioning features or use of this software
*     		must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  	THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  	ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  	IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  	ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  	FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  	DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  	OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  	HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  	LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  	OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  	SUCH DAMAGE.
*
********************************************************************************************************************
	  --><xs:include schemaLocation="../dt/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="../VocabularySchemas/CDAVocab.xsd"/>
   <xs:include schemaLocation="../dt/datatypeflavours.xsd"/>
   <xs:import namespace="NPFIT:HL7:Localisation" schemaLocation="../dt/NHSLocalisation.xsd"/>
   <xs:include schemaLocation="../TemplateSchemas/NPFIT-300001_Role.xsd"/>
   <xs:group name="COCD_TP146060GB02">
      <xs:sequence>
         <xs:element name="COCD_TP146060GB02.AllergyEvent" type="COCD_TP146060GB02.AllergyEvent"/>
      </xs:sequence>
   </xs:group>
   <xs:complexType name="COCD_TP146060GB02.AllergyEvent">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CV">
                     <xs:attribute name="code" use="required" fixed="ALLEV" type="cs"/>
                     <xs:attribute name="displayName" use="required" fixed="Allergy Event" type="st"/>
                     <xs:attribute name="codeSystem" use="required" fixed="2.16.840.1.113883.2.1.3.2.4.17.220"
                                   type="uid"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="id" type="II.NPfIT.uuid.mandatory" minOccurs="1" maxOccurs="1"/>
         <xs:element name="statusCode" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CS">
                     <xs:attribute name="code" use="required" fixed="completed" type="cs"/>
                     <xs:attribute name="codeSystem" type="oid" use="prohibited"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146060GB02#AllergyEvent"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="value" type="CV" minOccurs="1" maxOccurs="1"/>
         <xs:element name="author" type="COCD_TP146060GB02.Author1" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="entryRelationship" type="COCD_TP146060GB02.Component" minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="entryRelationship1" type="COCD_TP146060GB02.Component2" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="entryRelationship2" type="COCD_TP146060GB02.Component3" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="entryRelationship3" type="COCD_TP146060GB02.Component5" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="entryRelationship4" type="COCD_TP146060GB02.Component6" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146060GB02.Author1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element ref="npfitlc:contentId" minOccurs="1" maxOccurs="1"/>
         <xs:element name="functionCode" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CV">
                     <xs:attribute name="code" use="required" fixed="OA" type="cs"/>
                     <xs:attribute name="displayName" use="required" fixed="Originating Author" type="st"/>
                     <xs:attribute name="codeSystem" use="required" fixed="2.16.840.1.113883.2.1.3.2.4.17.178"
                                   type="uid"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146060GB02#author"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="time" type="TS" minOccurs="1" maxOccurs="1"/>
         <xs:choice>
            <xs:group ref="NPFIT-300001_Role"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="AUT"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="required" fixed="OP"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146060GB02.CausativeAgent">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CV">
                     <xs:attribute name="code" use="required" fixed="ALLCAUS" type="cs"/>
                     <xs:attribute name="displayName" use="required" fixed="Allergy Causative Agent" type="st"/>
                     <xs:attribute name="codeSystem" use="required" fixed="2.16.840.1.113883.2.1.3.2.4.17.220"
                                   type="uid"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146060GB02#causativeAgent"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="value" type="CV" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146060GB02.Certainty">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CV">
                     <xs:attribute name="code" use="required" fixed="ALLCER" type="cs"/>
                     <xs:attribute name="displayName" use="required" fixed="Allergy Certainty" type="st"/>
                     <xs:attribute name="codeSystem" use="required" fixed="2.16.840.1.113883.2.1.3.2.4.17.220"
                                   type="uid"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146060GB02#certainty"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="value" type="CV" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146060GB02.Component">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="seperatableInd" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="BL">
                     <xs:attribute name="value" use="required" fixed="false" type="bl"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146060GB02#entryRelationship"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="causativeAgent" type="COCD_TP146060GB02.CausativeAgent" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146060GB02.Component_1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="seperatableInd" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="BL">
                     <xs:attribute name="value" use="required" fixed="false" type="bl"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146060GB02#entryRelationship5"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="certainty" type="COCD_TP146060GB02.Certainty" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146060GB02.Component2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="seperatableInd" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="BL">
                     <xs:attribute name="value" use="required" fixed="false" type="bl"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146060GB02#entryRelationship1"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="reactionDetails" type="COCD_TP146060GB02.ReactionDetails" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146060GB02.Component3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="seperatableInd" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="BL">
                     <xs:attribute name="value" use="required" fixed="false" type="bl"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146060GB02#entryRelationship2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="evidence" type="COCD_TP146060GB02.Evidence" nillable="true" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146060GB02.Component5">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="seperatableInd" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="BL">
                     <xs:attribute name="value" use="required" fixed="false" type="bl"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146060GB02#entryRelationship3"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="probabilityOfRecurrence" type="COCD_TP146060GB02.ProbabilityOfRecurrence"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146060GB02.Component6">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="seperatableInd" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="BL">
                     <xs:attribute name="value" use="required" fixed="false" type="bl"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146060GB02#entryRelationship4"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="dateFirstExperienced" type="COCD_TP146060GB02.DateFirstExperienced"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146060GB02.Component7">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="seperatableInd" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="BL">
                     <xs:attribute name="value" use="required" fixed="false" type="bl"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146060GB02#entryRelationship6"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="severity" type="COCD_TP146060GB02.Severity" nillable="true" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146060GB02.DateFirstExperienced">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CV">
                     <xs:attribute name="code" use="required" fixed="ALLDFE" type="cs"/>
                     <xs:attribute name="displayName" use="required" fixed="Allergy Date First Experienced"
                                   type="st"/>
                     <xs:attribute name="codeSystem" use="required" fixed="2.16.840.1.113883.2.1.3.2.4.17.220"
                                   type="uid"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="effectiveTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146060GB02#dateFirstExperienced"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="text" type="ST" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146060GB02.Evidence">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CV">
                     <xs:attribute name="code" use="required" fixed="ALLEVID" type="cs"/>
                     <xs:attribute name="displayName" use="required" fixed="Allergy Evidence" type="st"/>
                     <xs:attribute name="codeSystem" use="required" fixed="2.16.840.1.113883.2.1.3.2.4.17.220"
                                   type="uid"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146060GB02#evidence"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="value" type="ST" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146060GB02.ProbabilityOfRecurrence">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CV">
                     <xs:attribute name="code" use="required" fixed="ALLPOR" type="cs"/>
                     <xs:attribute name="displayName" use="required" fixed="Allergy Probability Of Recurrence"
                                   type="st"/>
                     <xs:attribute name="codeSystem" use="required" fixed="2.16.840.1.113883.2.1.3.2.4.17.220"
                                   type="uid"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146060GB02#probabilityOfRecurrence"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="value" type="ST" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146060GB02.ReactionDetails">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CV" minOccurs="1" maxOccurs="1"/>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146060GB02#reactionDetails"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="text" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="value" type="CV" minOccurs="1" maxOccurs="1"/>
         <xs:element name="entryRelationship5" type="COCD_TP146060GB02.Component_1" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="entryRelationship6" type="COCD_TP146060GB02.Component7" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146060GB02.Severity">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CV">
                     <xs:attribute name="code" use="required" fixed="ALLSEV" type="cs"/>
                     <xs:attribute name="displayName" use="required" fixed="Severity of the Adverse Reaction"
                                   type="st"/>
                     <xs:attribute name="codeSystem" use="required" fixed="2.16.840.1.113883.2.1.3.2.4.17.220"
                                   type="uid"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146060GB02#severity"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="value" type="CV" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
   </xs:complexType>
</xs:schema>