dms/HSCI-6.0-Draft/Publish/Schemas/COMT_MT000005UK03.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:npfitlc="NPFIT:HL7:Localisation" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
	<!--
*****************************************************************************************************************
* 		XML schema for message type : COMT_MT000005UK03.
* 
*		Source information:
*		Generated by Publisher version : 
*    	Created on: 
*   
* 		Copyright (c) 2009,2010,2011,2012 Health Level Seven. All rights reserved.
*  	Redistribution and use in source and binary forms, with or without
*  	modification, are permitted provided that the following conditions
*  	are met:
*  		1. Redistributions of source code must retain the above copyright
*     		notice, this list of conditions and the following disclaimer.
*  		2. Redistributions in binary form must reproduce the above copyright
*     		notice, this list of conditions and the following disclaimer in the
*     		documentation and/or other materials provided with the distribution.
*  		3. All advertising materials mentioning features or use of this software
*     		must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  	THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  	ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  	IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  	ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  	FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  	DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  	OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  	HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  	LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  	OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  	SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
	<xs:include schemaLocation="../dt/infrastructureRoot.xsd"/>
	<xs:include schemaLocation="../VocabularySchemas/CDAVocab.xsd"/>
	<xs:include schemaLocation="../dt/datatypeflavours.xsd"/>
	<xs:import namespace="NPFIT:HL7:Localisation" schemaLocation="../dt/NHSLocalisation.xsd"/>
	<xs:include schemaLocation="../TemplateSchemas/NPFIT-100028_Role.xsd"/>
	<xs:include schemaLocation="../TemplateSchemas/NPFIT-100021_Role.xsd"/>
	<xs:include schemaLocation="../TemplateSchemas/NPFIT-100022_Role.xsd"/>
	<xs:include schemaLocation="../TemplateSchemas/NPFIT-100024_Role.xsd"/>
	<xs:include schemaLocation="../TemplateSchemas/NPFIT-000027_Role.xsd"/>
	<xs:include schemaLocation="../TemplateSchemas/NPFIT-100020_Role.xsd"/>
	<xs:element name="WithdrawalNotice" type="COMT_MT000005UK03.WithdrawalNotice"/>
	<xs:complexType name="COMT_MT000005UK03.Author">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element ref="npfitlc:contentId" minOccurs="1" maxOccurs="1"/>
			<xs:choice>
				<xs:group ref="NPFIT-100028_Role"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="AUT"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="required" fixed="OP"/>
	</xs:complexType>
	<xs:complexType name="COMT_MT000005UK03.Location">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element ref="npfitlc:contentId" minOccurs="1" maxOccurs="1"/>
			<xs:choice>
				<xs:group ref="NPFIT-000027_Role"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="LOC"/>
	</xs:complexType>
	<xs:complexType name="COMT_MT000005UK03.Participant">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element ref="npfitlc:contentId" minOccurs="1" maxOccurs="1"/>
			<xs:choice>
				<xs:group ref="NPFIT-100020_Role"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="CALLBCK"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="required" fixed="OP"/>
	</xs:complexType>
	<xs:complexType name="COMT_MT000005UK03.PertinentInformation">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="seperatableInd" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="BL">
							<xs:attribute name="value" type="bl" use="required" fixed="false"/>
							<xs:attribute name="updateMode" type="cs" use="prohibited"/>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="pertinentWithdrawalReasonText" type="COMT_MT000005UK03.WithdrawalReasonText" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="PERT"/>
	</xs:complexType>
	<xs:complexType name="COMT_MT000005UK03.PrimaryInformationRecipient">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element ref="npfitlc:contentId" minOccurs="1" maxOccurs="1"/>
			<xs:choice>
				<xs:group ref="NPFIT-100022_Role"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="PRCP"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="required" fixed="OP"/>
	</xs:complexType>
	<xs:complexType name="COMT_MT000005UK03.Reason">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="seperatableInd" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="BL">
							<xs:attribute name="value" type="bl" use="required" fixed="false"/>
							<xs:attribute name="updateMode" type="cs" use="prohibited"/>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="justifyingWithdrawalNoticeReason" type="COMT_MT000005UK03.WithdrawalNoticeReason" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="RSON"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="COMT_MT000005UK03.RecordTarget">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element ref="npfitlc:contentId" minOccurs="1" maxOccurs="1"/>
			<xs:choice>
				<xs:group ref="NPFIT-100021_Role"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="RCT"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="required" fixed="OP"/>
	</xs:complexType>
	<xs:complexType name="COMT_MT000005UK03.ResponsibleParty">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element ref="npfitlc:contentId" minOccurs="1" maxOccurs="1"/>
			<xs:choice>
				<xs:group ref="NPFIT-100024_Role"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="RESP"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="required" fixed="OP"/>
	</xs:complexType>
	<xs:complexType name="COMT_MT000005UK03.WithdrawalNotice">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" type="CV" minOccurs="1" maxOccurs="1"/>
			<xs:element name="effectiveTime" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="TS">
							<xs:attribute name="value" type="ts" use="required"/>
							<xs:attribute name="updateMode" type="cs" use="prohibited"/>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="id" type="II" minOccurs="1" maxOccurs="2"/>
			<xs:element name="author" type="COMT_MT000005UK03.Author" minOccurs="1" maxOccurs="1"/>
			<xs:element name="callBackContact" type="COMT_MT000005UK03.Participant" minOccurs="1" maxOccurs="1"/>
			<xs:element name="location" type="COMT_MT000005UK03.Location" nillable="true" minOccurs="0" maxOccurs="1"/>
			<xs:element name="primaryInformationRecipient" type="COMT_MT000005UK03.PrimaryInformationRecipient" minOccurs="1" maxOccurs="1"/>
			<xs:element name="reason" type="COMT_MT000005UK03.Reason" minOccurs="1" maxOccurs="1"/>
			<xs:element name="recordTarget" type="COMT_MT000005UK03.RecordTarget" minOccurs="1" maxOccurs="1"/>
			<xs:element name="responsibleParty" type="COMT_MT000005UK03.ResponsibleParty" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="INFRM"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="COMT_MT000005UK03.WithdrawalNoticeReason">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CV">
							<xs:attribute name="code" type="cs" use="required" fixed="WNRC"/>
							<xs:attribute name="displayName" type="st" use="optional"/>
							<xs:attribute name="codeSystem" type="uid" use="optional"/>
							<xs:attribute name="codeSystemName" type="st" use="prohibited"/>
							<xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs" use="prohibited"/>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="value" type="CV" minOccurs="1" maxOccurs="1"/>
			<xs:element name="pertinentInformation" type="COMT_MT000005UK03.PertinentInformation" nillable="true" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="COMT_MT000005UK03.WithdrawalReasonText">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" type="CV" minOccurs="1" maxOccurs="1"/>
			<xs:element name="value" type="ST" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
	</xs:complexType>
</xs:schema>
