dms/mim/6.3.01/Schematrons/Generic_CDA_Interaction_Schematron.xml

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.ascc.net/xml/schematron">
	<title>NPfIT Schematron check for Interaction and messageType </title>
	<ns prefix="hl7v3" uri="urn:hl7-org:v3"/>
	<ns prefix="npfitlc" uri="NPFIT:HL7:Localisation"/>
	<p>
		21.03.07 - Generic CDA Interaction Schematron for validating messageType to valid domain message model based on interaction element.
	</p>
	<p>
		06.06.07- Updated the artifact Ids refelecting the change to interactions. Fixed error on the schematron xpath. Removed report sections in the rules
	</p>
	<p>
		26.07.07- Updated the artifact Ids refelecting the change to interactions.
	</p>
	<p>
		26.07.07- Updated the artifact Ids refelecting the change to interactions.
	</p>
	<p>
		22.10.07- Changed namespace for messageType
	</p>
	<pattern name="Interaction and messageType validation">
		<!-- Health space-->
		<rule context="hl7v3:*[name(.)='POCD_IN140001UK05']">
			<assert test="descendant::npfitlc:messageType/@extension = 'POCD_MT140001UK05'">Error:descendant messageType extension is not matching domain message type, the value should be 'POCD_MT140001UK05' but is '<value-of select="descendant::npfitlc:messageType/@extension"/>'.</assert>
		</rule>
		<rule context="hl7v3:*[name(.)='POCD_IN140002UK05']">
			<assert test="descendant::npfitlc:messageType/@extension = 'POCD_MT130001UK05'">Error:descendant messageType extension is not matching domain message type, the value should be 'POCD_MT130001UK05' but is '<value-of select="descendant::npfitlc:messageType/@extension"/>'.</assert>
		</rule>
		<!--Discharge Interaction -->
		<rule context="hl7v3:*[name(.)='POCD_IN150001UK06']">
			<assert test="descendant::npfitlc:messageType/@extension = 'POCD_MT150001UK06'">Error:descendant messageType extension is not matching domain message type, the value should be 'POCD_MT150001UK06' but is '<value-of select="descendant::npfitlc:messageType/@extension"/>'.</assert>
		</rule>
		<rule context="hl7v3:*[name(.)='POCD_IN150002UK06']">
			<assert test="descendant::npfitlc:messageType/@extension = 'POCD_MT150001UK06'">Error:descendant messageType extension is not matching domain message type, the value should be 'POCD_MT150001UK06' but is '<value-of select="descendant::npfitlc:messageType/@extension"/>'.</assert>
		</rule>
		<rule context="hl7v3:*[name(.)='POCD_IN150003UK06']">
			<assert test="descendant::npfitlc:messageType/@extension = 'POCD_MT150001UK06'">Error:descendant messageType extension is not matching domain message type, the value should be 'POCD_MT150001UK06' but is '<value-of select="descendant::npfitlc:messageType/@extension"/>'.</assert>
		</rule>
		<rule context="hl7v3:*[name(.)='POCD_IN150004UK06']">
			<assert test="descendant::npfitlc:messageType/@extension = 'POCD_MT130001UK05'">Error:descendant messageType extension is not matching domain message type, the value should be 'POCD_MT130001UK05' but is '<value-of select="descendant::npfitlc:messageType/@extension"/>'.</assert>
		</rule>
		<!-- ED Interaction-->
		<rule context="hl7v3:*[name(.)='POCD_IN160001UK06']">
			<assert test="descendant::npfitlc:messageType/@extension = 'POCD_MT160001UK06'">Error:descendant messageType extension is not matching domain message type, the value should be 'POCD_MT160001UK06' but is '<value-of select="descendant::npfitlc:messageType/@extension"/>'.</assert>
		</rule>
		<rule context="hl7v3:*[name(.)='POCD_IN160002UK06']">
			<assert test="descendant::npfitlc:messageType/@extension = 'POCD_MT160001UK06'">Error:descendant messageType extension is not matching domain message type, the value should be 'POCD_MT160001UK06' but is '<value-of select="descendant::npfitlc:messageType/@extension"/>'.</assert>
		</rule>
		<rule context="hl7v3:*[name(.)='POCD_IN160003UK06']">
			<assert test="descendant::npfitlc:messageType/@extension = 'POCD_MT160001UK06'">Error:descendant messageType extension is not matching domain message type, the value should be 'POCD_MT160001UK06' but is '<value-of select="descendant::npfitlc:messageType/@extension"/>'.</assert>
		</rule>
		<rule context="hl7v3:*[name(.)='POCD_IN160004UK06']">
			<assert test="descendant::npfitlc:messageType/@extension = 'POCD_MT130001UK05'">Error:descendant messageType extension is not matching domain message type, the value should be 'POCD_MT130001UK05' but is '<value-of select="descendant::npfitlc:messageType/@extension"/>'.</assert>
		</rule>
		<!--Outpatient Interaction -->
		<rule context="hl7v3:*[name(.)='POCD_IN170001UK06']">
			<assert test="descendant::npfitlc:messageType/@extension = 'POCD_MT170001UK06'">Error:descendant messageType extension is not matching domain message type, the value should be 'POCD_MT170001UK06' but is '<value-of select="descendant::npfitlc:messageType/@extension"/>'.</assert>
		</rule>
		<rule context="hl7v3:*[name(.)='POCD_IN170002UK06']">
			<assert test="descendant::npfitlc:messageType/@extension = 'POCD_MT170001UK06'">Error:descendant messageType extension is not matching domain message type, the value should be 'POCD_MT170001UK06' but is '<value-of select="descendant::npfitlc:messageType/@extension"/>'.</assert>
		</rule>
		<rule context="hl7v3:*[name(.)='POCD_IN170003UK06']">
			<assert test="descendant::npfitlc:messageType/@extension = 'POCD_MT170001UK06'">Error:descendant messageType extension is not matching domain message type, the value should be 'POCD_MT170001UK06' but is '<value-of select="descendant::npfitlc:messageType/@extension"/>'.</assert>
		</rule>
		<rule context="hl7v3:*[name(.)='POCD_IN170004UK06']">
			<assert test="descendant::npfitlc:messageType/@extension = 'POCD_MT130001UK05'">Error:descendant messageType extension is not matching domain message type, the value should be 'POCD_MT130001UK05' but is '<value-of select="descendant::npfitlc:messageType/@extension"/>'.</assert>
		</rule>
		<!-- Sealed envelopes-->
		<rule context="hl7v3:*[name(.)='POCD_IN180001UK05']">
			<assert test="descendant::npfitlc:messageType/@extension = 'POCD_MT180001UK05'">Error:descendant messageType extension is not matching domain message type, the value should be 'POCD_MT180001UK05' but is '<value-of select="descendant::npfitlc:messageType/@extension"/>'.</assert>
		</rule>
		<rule context="hl7v3:*[name(.)='POCD_IN180002UK04']">
			<assert test="descendant::npfitlc:messageType/@extension = 'POCD_MT130001UK05'">Error:descendant messageType extension is not matching domain message type, the value should be 'POCD_MT130001UK05' but is '<value-of select="descendant::npfitlc:messageType/@extension"/>'.</assert>
		</rule>
		<rule context="hl7v3:*[name(.)='POCD_IN180003UK02']">
			<assert test="descendant::npfitlc:messageType/@extension = 'POCD_MT180002UK02'">Error:descendant messageType extension is not matching domain message type, the value should be 'POCD_MT180002UK02' but is '<value-of select="descendant::npfitlc:messageType/@extension"/>'.</assert>
		</rule>
		<rule context="hl7v3:*[name(.)='POCD_IN180004UK01']">
			<assert test="descendant::npfitlc:messageType/@extension = 'POCD_MT130001UK05'">Error:descendant messageType extension is not matching domain message type, the value should be 'POCD_MT130001UK05' but is '<value-of select="descendant::npfitlc:messageType/@extension"/>'.</assert>
		</rule>
		<rule context="hl7v3:*[name(.)='POCD_IN180005UK02']">
			<assert test="descendant::npfitlc:messageType/@extension = 'POCD_MT180003UK02'">Error:descendant messageType extension is not matching domain message type, the value should be 'POCD_MT180003UK02' but is '<value-of select="descendant::npfitlc:messageType/@extension"/>'.</assert>
		</rule>
		<rule context="hl7v3:*[name(.)='POCD_IN180006UK01']">
			<assert test="descendant::npfitlc:messageType/@extension = 'POCD_MT130001UK05'">Error:descendant messageType extension is not matching domain message type, the value should be 'POCD_MT130001UK05' but is '<value-of select="descendant::npfitlc:messageType/@extension"/>'.</assert>
		</rule>
		<rule context="npfitlc:messageType">
			<assert test="@root = '2.16.840.1.113883.2.1.3.2.4.18.17'">Error:descendant messageType root is not matching domain message type, the value should be '2.16.840.1.113883.2.1.3.2.4.18.17' but is '<value-of select="@root"/>'.</assert>
		</rule>
	</pattern>
</schema>
