dms/mim/6.3.01/Schematrons/Generic_CDA_Document_Schematron.xml

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.ascc.net/xml/schematron">
	<title>NPfIT Schematron for CDA documents</title>
	<ns prefix="hl7v3" uri="urn:hl7-org:v3"/>
	<ns prefix="npfitlc" uri="NPFIT:HL7:Localisation"/>
	<pattern name="Content Id and templateId check">
		<rule context="hl7v3:*[child::hl7v3:templateId and preceding-sibling::npfitlc:contentId]">
			<assert test="preceding-sibling::npfitlc:contentId/@extension = child::hl7v3:templateId/@extension">Error:Preceding contentId extension is not matching templateId, the value should be '<value-of select="child::hl7v3:templateId/@extension"/>' but is '<value-of select="preceding-sibling::npfitlc:contentId/@extension"/>'.</assert>
		</rule>
	</pattern>
	<pattern name="Template Ref model validation">
		<rule context="hl7v3:*[hl7v3:templateId[contains(@extension,'Ref') and substring(@extension,string-length(@extension)-2,3)='Ref' and contains(@extension,'COCD_TP147')]]">
			<assert test="count(hl7v3:code/@*) = 1 and hl7v3:code/@nullFlavor='NA'">Error:Template Reference class '<value-of select="name(.)"/>' should contain a code element with nullFlavour attribute only.</assert>
		</rule>
	</pattern>
	<pattern name="MessageType root validation">
		<rule context="hl7v3:ClinicalDocument[npfitlc:messageType]">
			<assert test="npfitlc:messageType/@root = '2.16.840.1.113883.2.1.3.2.4.18.17'">Error:ClinicalDocument messageType/@root value should be '2.16.840.1.113883.2.1.3.2.4.18.17' but is '<value-of select="npfitlc:messageType/@root"/>'.</assert>
		</rule>
	</pattern>
	<pattern name="Content ID and originalText/reference Validation">
		<rule context="hl7v3:content[@ID]">
			<assert test="concat('#',@ID) = //hl7v3:reference/@value">Error:content '<value-of select="@ID"/>' is orphaned.</assert>
		</rule>
	</pattern>
	<pattern name="originalText/reference Validation">
		<rule context="hl7v3:reference[@value]">
			<assert test="substring-after(current()/@value,'#') = //hl7v3:content/@ID">Error:originalText/reference '<value-of select="@value"/>' is orphaned.</assert>
			<report test="count(//hl7v3:reference/@value[. = current()/@value]) &gt; 1">Information: originalText/reference '<value-of select="substring-after(current()/@value,'#')"/>' is referenced multiple times.</report>
		</rule>
	</pattern>
	<pattern name="CRETypeList id validation">
		<rule context="hl7v3:*[contains(name(.),'CRETypeList') and contains(name(.),'COCD_TP146')]/hl7v3:value">
			<assert test="@root = //hl7v3:id/@root">Error:CREType list CRETypeList value/@root '<value-of select="@root"/>' is orphaned.</assert>
			<assert test="count(//hl7v3:value/@root[. = current()/@root]) = 1">Error:CREType list value/@root '<value-of select="@root"/>' is duplicated.</assert>
		</rule>
	</pattern>
	<pattern name="MedicationTemplate rules">
		<rule context="hl7v3:*[child::hl7v3:templateId[contains(@extension,'COCD_TP146029UK') or contains(@extension,'COCD_TP146030UK') or contains(@extension,'COCD_TP146031UK') or contains(@extension,'COCD_TP146032UK') or contains(@extension,'COCD_TP146033UK') or contains(@extension,'COCD_TP146034UK')] and preceding-sibling::npfitlc:contentId]">
			<assert test="//hl7v3:*[child::hl7v3:templateId[contains(@extension,'COCD_TP146062UK')] and preceding-sibling::npfitlc:contentId]/hl7v3:code/@code='185361000000102'">Error: Medication template '<value-of select="hl7v3:templateId/@extension"/>' is used and CRETypeList code value is wrong should be '185361000000102' but is '<value-of select="//hl7v3:*[child::hl7v3:templateId[contains(@extension,'COCD_TP146062UK')]]/hl7v3:code/@code"/>'.</assert>
			<assert test="hl7v3:id/@root=//hl7v3:*[child::hl7v3:templateId[contains(@extension,'COCD_TP146062UK')] and preceding-sibling::npfitlc:contentId]/hl7v3:value/@root">Error: Medication template '<value-of select="hl7v3:templateId/@extension"/>' id '<value-of select="hl7v3:id/@root"/>' is not in CRETypeList</assert>
		</rule>
	</pattern>
	<pattern name="Allergy Template rules">
		<rule context="hl7v3:*[child::hl7v3:templateId[contains(@extension,'COCD_TP146025UK')] and preceding-sibling::npfitlc:contentId]">
			<assert test="//hl7v3:*[child::hl7v3:templateId[contains(@extension,'COCD_TP146062UK')] and preceding-sibling::npfitlc:contentId]/hl7v3:code/@code='163221000000102'">Error: Allergy template '<value-of select="hl7v3:templateId/@extension"/>' is used and CRETypeList code value is wrong should be '163221000000102' but is '<value-of select="//hl7v3:*[child::hl7v3:templateId[contains(@extension,'COCD_TP146062UK')]]/hl7v3:code/@code"/>'.</assert>
			<assert test="hl7v3:id/@root=//hl7v3:*[child::hl7v3:templateId[contains(@extension,'COCD_TP146062UK')] and preceding-sibling::npfitlc:contentId]/hl7v3:value/@root">Error: Medication template '<value-of select="hl7v3:templateId/@extension"/>' id '<value-of select="hl7v3:id/@root"/>' is not in CRETypeList</assert>
		</rule>
	</pattern>
	<pattern name="CRETypeList code check">
		<rule context="hl7v3:*[child::hl7v3:templateId[contains(@extension,'COCD_TP146062UK')] and preceding-sibling::npfitlc:contentId]">
			<assert test="hl7v3:code/@code='163221000000102' or hl7v3:code/@code='185361000000102'">Error: CRETypeList template '<value-of select="hl7v3:templateId/@extension"/>' code/@code value is wrong should be '163221000000102' or '185361000000102' but is '<value-of select="hl7v3:code/@code"/>'.</assert>
		</rule>
	</pattern>
	<pattern name="Clinical Template UUID Check">
		<rule context="hl7v3:*[child::hl7v3:templateId[contains(@extension,'COCD_TP146')] and preceding-sibling::npfitlc:contentId and child::hl7v3:id[@root and not(@extension)]]">
			<assert test="count(//hl7v3:*[child::hl7v3:templateId[contains(@extension,'COCD_TP146')] and preceding-sibling::npfitlc:contentId and child::hl7v3:id[@root and not(@extension)]]/hl7v3:id/@root[.=current()/hl7v3:id/@root])=1">Error: ClinicalTemplate id is duplicated '<value-of select="hl7v3:id/@root"/>'</assert>
		</rule>
	</pattern>
</schema>
